* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(8, 8, 8);
    padding-top: 56px;
   /* Para compensar el espacio de la barra de navegación */
}
.back {
    background-image: url(wall1.png);
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px; 

}
.container1 {
    color: #a0a4a8;
}

section {
    margin-bottom: 30px;
}

.gall {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1000px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}
footer {
    background-color: #fdfdfd;
    padding: 10px 0;
}
